/* Reset...
   ========================================================================== */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Mise en page globale...
   ========================================================================== */

html {
	font-size: 0.875em;
}

body {
	width:80vw;
	height: 100vh;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 0.8rem;

	background-color: black;
	text-align: center;

	/*Conteneur flex en colonnes*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

header,
footer {
	color: #a4bed2;
	padding: 1% 0;
}


footer {
	font-style: italic;
}

h1 {
	font-size: 1.4rem;
}

section {
	position: relative;
	width: 100%;
	flex: 1 0 auto;

	background-image: url("../images/montreal.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center;

	opacity: 0.4;

	overflow: hidden;
	cursor: pointer;

	/*Effet de transition*/
	transition: opacity 0.5s;
}


.soleil {
	position: absolute;
	top: 0;
	left: 0;
	width: 72px;
	height: 72px;
	background-image: url("../images/soleil_petit.png");
	background-repeat: no-repeat;
}

/* Animation des gouttes d'eau...
   ========================================================================== */

@keyframes animGoutte {
	from {
		top: -5%;
	}
	to {
		top: 100%;
	}
}

.goutteAnim {
	/*Aspect visuel et mise en page*/
	position: absolute;
	top: 0%;
	font-size: 0.6rem;
	color: #75d6ff;
	opacity: 0.8;

	/*Animation*/
	animation: animGoutte 750ms  cubic-bezier(.42, 0, .96, .86);
}

/*À COMPLÉTER - pseudo-élément pour l'aspect de la goutte d'eau...*/
.goutteAnim::before {
	content: '\1F4A7';
	width: 5px;
	height: 5px;
}

/* Styles pour les écrans plus larges...
   ========================================================================== */

@media screen and (min-width: 768px) {
	/*On augmente un peu la taille du texte*/
	html {
		font-size: 1em;
	}

	/*À COMPLÉTER - On change la taille du soleil...*/
	.soleil {
		width: 120px;
		height: 120px;
		background-image: url("../images/soleil_grand.png");
	}

}